Library/
Assembly-CSharp.csproj
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-1.log
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Temp/FSTimeGet-04bb63ff890b05949a5f98e6c7aadca5
Temp/FSTimeGet-2de0839fc6be2844da6b95e44fe4a0b7
Temp/FSTimeGet-31d906c2d6d31304e8b87f80a4adc4c4
Temp/UnityLockfile
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-6000.dwlt
Assembly-CSharp.csproj
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-1.log
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-6000.dwlt
